{% extends 'base.html.twig' %}



{% block title %}login page{% endblock %}



{% block body %}
<h1>Welcome to the Login:login page</h1>
{%if errors%}
<div class"alert alert-danger">
{{errors.messageKey}}
</div>
{% endif%}



<form action="{{ path('login')}}" method="post">
<div>
<label for="username">Username</label>
<input type="text" name="_username" id="username" value="{{username}}">
</div>



<div>
<label for="username">Password</label>
<input type="text" name="_password" id="password" >
</div>
<button> connect </button>
</form>
</div>
{% endblock %}
